*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 50%;
    margin:auto;
}

.border-radius-10{
    border-radius: 10px;
}

.text-color-gray, 
nav ul li a{
    color: rgb(147 147 147);
}

.logo{
    height: 65px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-right: 20px;
    border-right: 2px solid rgb(238 238 238);
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px 12px 35px 0px;
}

nav ul li a {
    text-decoration: none;
}

.jumbotron{
    margin-bottom: 25px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    
}

.jumbotron-bg {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
  
}


.jumbotron h2, .jumbotron p{
    color: rgb(245 240 237);
    padding-left: 50px;
    width: 50%;

    }
.jumbotron-bg h2{
    padding-top: 350px;
    font-size: 30px;
}

.main-header{
    height: 80px;
}

.main-header h1{
    font-size: 42px;
    font-weight:bold;
}

.section-bottom{
    margin-bottom: 50px;
}


.side{
    width: 20%;
    float: left;
}

.img-main{
    background-size: cover;
    height: 250px;
    margin-bottom: 15px;
}

.img-side-left{
    background-image: url("../img/img-1.jpg");
}

.img-side-right{
    background-image: url("../img/img-3.jpg");
}

.section-bottom h3{
    margin-bottom: 7px;
}

.center{
    width: 57%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.img-center{
    background-image: url("../img/banner-2.jpg");
    background-position: center;
}



/* MARGINI TOP&BTM ELEMENTI FLOAT */
.margin-top-btm{
    margin-top: 22px;
    margin-bottom: 22px;
} 

footer{
    height: 60px;
    text-align: center;
}

#heart{
    color: red;
}