*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 50%;
    margin:auto;
}

.logo{
    height: 65px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-right: 20px;
    border-right: 2px solid rgb(238 238 238);
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px 12px 35px 0px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(147 147 147);
}

.section-top{
    background-color: #e1d67a;
    height: 450px;
    margin-bottom: 25px;
}

.section-bottom{
    background-color: #0087fc;
    margin-bottom: 7px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.top{
    height: 80px;
    background-color: #abcfe7;
}

.side{
    background-color: #abcfe7;
    width: 20%;
    height: 500px;
    float: left;
}

.center{
    background-color: #abcfe7;
    width: 57%;
    height: 500px;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

/* MARGINI TOP&BTM ELEMENTI FLOAT */
.margin-top-btm{
    margin-top: 22px;
    margin-bottom: 22px;
} 

footer{
    background-color: #8801fe;
    height: 60px;
}